.adminLayout {
  display: flex;
  /* height: 100vh; */
  width: 100vw;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainSection {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background: linear-gradient(to right, #0a2043, #6366f1);
}

/* Responsive cho mobile */
@media (max-width: 768px) {
  .adminLayout {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0 !important;
  }
}
